# Site Settings
title: "ai@cam"
description: "ai@cam is Cambridge University's flagship mission to develop AI for the benefit of science, citizens, and society."
url: ""
baseurl: ""

# Jekyll Settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Collections
collections:
  blog_posts:
    output: true
    permalink: /blog/:slug/
  calls:
    output: true
    permalink: /calls/:slug/
  news:
    output: true
    permalink: /news/:slug/
  events:
    output: true
    permalink: /events/:slug/
  projects:
    output: true
    permalink: /projects/:slug/
  reports:
    output: true
    permalink: /reports/:slug/
  team_members:
    output: true
    permalink: /team/:slug/
  people:
    output: true
    permalink: /people/:slug/
  policies:
    output: true
    permalink: /policies/:slug/
  call_categories:
    output: true
    permalink: /calls/category/:name/
  event_categories:
    output: true
    permalink: /events/category/:name/
  team_categories:
    output: true
    permalink: /team/category/:name/
  project_categories:
    output: true
    permalink: /projects/category/:name/
  policy_categories:
    output: true
    permalink: /policies/category/:name/
  pages:
    output: true

# Defaults
defaults:
  - scope:
      path: ""
      type: "calls"
    values:
      layout: "calls-single"
  - scope:
      path: ""
      type: "call_categories"
    values:
      layout: "calls-category"
  - scope:
      path: ""
      type: "reports"
    values:
      layout: "reports-single"
  - scope:
      path: ""
      type: "blog_posts"
    values:
      layout: "blog-single"
  - scope:
      path: ""
      type: "news"
    values:
      layout: "news-single"
  - scope:
      path: ""
      type: "events"
    values:
      layout: "events-single"
  - scope:
      path: ""
      type: "event_categories"
    values:
      layout: "events-category"
  - scope:
      path: ""
      type: "team_members"
    values:
      layout: "teams-single"
  - scope:
      path: ""
      type: "team_categories"
    values:
      layout: "teams-category"
  - scope:
      path: ""
      type: "people"
    values:
      layout: "people-single"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "projects-single"
  - scope:
      path: ""
      type: "project_categories"
    values:
      layout: "projects-category"
  - scope:
      path: ""
      type: "policies"
    values:
      layout: "policies-single"
  - scope:
      path: ""
      type: "policy_categories"
    values:
      layout: "policies-category"

# Exclude
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .git
  - .gitignore

