---
layout: 'page'
title: 'Contact'
permalink: /contact/
description: 'If you have any questions about our work or opportunities to get involved, contact us using this form.'
image: '/assets/images/social.jpeg'
---

{% assign hero = site.data.contact.hero %}
<section class="block block__hero block__hero--standard block__hero--overflow" id="hero">

  <div class="hero__shape">
    <img alt="" src="../assets/images/news-bg.svg"/>
  </div>

  <div class="container">
    <div class="hero__content">
      {% if hero.heading != nil and hero.heading != '' %}
        <h1>{{ hero.heading }}</h1>
      {% endif %}

      {% if hero.content != nil and hero.content != '' %}
        {{ hero.content | markdownify }}
      {% endif %}

      {% if hero.buttons != nil and hero.buttons.size > 0 %}
        <div class="button-box">
          {% for item in hero.buttons %}
            {% if item.link != nil and item.link != '' %}
              <a class="button button--standard button--standard-anchor" href="{{ item.link }}">{{ item.text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% if hero.image != nil and hero.image != '' %}
      <div class="hero__image">
        <img alt="" src="{{ hero.image }}"/>
      </div>
    {% endif %}
  </div>
</section>

{% assign contact = site.data.contact.contact %}
<section class="block block--no-padding-top block__contact">
  <div class="container">
    <div class="contact__forms">
      <form action="/" method="post" netlify class="contact__form" name="Contact">
        <h2>Get in touch</h2>
        <p>If you have any questions about our work or opportunities to get involved, contact us using this form.</p>

        <label for="contact_name">Full name</label>
        <input type="text" name="name" id="contact_name" placeholder="Your full name">

        <label for="contact_email">Email</label>
        <input type="text" name="email" id="contact_email" placeholder="example@example.com">

        <label for="contact_message">Message</label>
        <input type="text" name=_message" id="contact_message" placeholder="example@example.com">

        <div class="button-box">
          <button type="submit" class="button button--standard">Submit</button>
        </div>
      </form>

      <form action="/" method="post" netlify class="contact__form" name="Website Update Suggestions">
        <h2>Suggest a website update</h2>
        <p>Is there a University event or course that we should list on our site? Are you a member of staff who would like to be added to the researcher page? Let us know.</p>

        <label for="contact_name">Full name</label>
        <input type="text" name="name" id="contact_name" placeholder="Your full name">

        <label for="contact_email">Email</label>
        <input type="text" name="email" id="contact_email" placeholder="example@example.com">

        <label for="contact_message">Message</label>
        <input type="text" name=_message" id="contact_message" placeholder="example@example.com">

        <div class="button-box">
          <button type="submit" class="button button--standard">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>