---
layout: default
title: 'Events Archive'
permalink: /events-archive/
---

<section class="block block__hero block__hero--archive" id="hero">

  <div class="hero__shape">
    <img alt="" src="../assets/images/news-bg.svg"/>
  </div>

  <div class="container">
    <div class="hero__content">
      <h1>All Events</h1>
    </div>
    <div class="hero__filters"></div>
  </div>
</section>

<section class="block pt-0 block__posts">
  <div class="container">
    <div class="posts__grid">
      {% assign events = site.events | sort: "start" | reverse %}
    
      {% if events.size > 0 %}
        {% for post in events %}
          <a class="posts__item posts__item--event" href="{{ post.url }}">
            <div class="posts__item-thumbnail">
              {% if post.image != nil %}
                <img width="460" src="{{ post.image }}" alt="Image of {{ post.title }}">
              {% else %}
                <img alt="" src="../assets/images/placeholder-1.jpg"/>
              {% endif %}
            </div>
            <div class="posts__item-content">
              <h3>{{ post.title }}</h3>
              <span class="button button--simple">Read more</span>
            </div>
            <div class="posts__item-date">
              <p>
                {{ post.start | date: '%d' }}
                <span>{{ post.start | date: '%b' }}</span>
              </p>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <p>No events</p>
      {% endif %}
    </div>
  </div>
</section>