---
layout: default
title: 'Our Vision'
permalink: /our-vision/
description: 'ai@cam’s mission is to drive a new wave of AI innovation that serves science, citizens, and society.'
image: '/assets/images/social.jpeg'
---

{% assign hero = site.data.our_vision.hero %}
{% include hero-main.html 
  style="standard"
  bg_image="about-us-bg.svg"
  heading=hero.heading
  content=hero.content
  buttons=hero.buttons
  image=hero.image %}

{% assign text_split = site.data.our_vision.text_split %}
<section class="block block__text block__text--split">
  <div class="container">
    {% if text_split.heading != nil and text_split.heading != '' %}
      <div class="text__heading">
        <h2>{{ text_split.heading }}</h2>
      </div>
    {% endif %}

    {% if text_split.content != nil and text_split.content != '' %}
      <div class="text__content">
        {{ text_split.content | markdownify }}
      </div>
    {% endif %}
  </div>
</section>

{% assign slider = site.data.our_vision.slider %}
<section class="block block__slider pt-0">
  <div class="container">
    <div class="slider__top">
      {% if (slider.heading != nil and slider.heading != '') or (slider.content != nil and slider.content != '') or (slider.buttons != nil and slider.buttons.size > 0) %}
        <div class="slider__intro intro">
          {% if slider.heading != nil and slider.heading != '' %}
            <h2>{{ slider.heading }}</h2>
          {% endif %}

          {% if slider.content != nil and slider.content != '' %}
            {{ slider.content | markdownify }}
          {% endif %}

          {% if slider.buttons != nil and slider.buttons.size > 0 %}
            <div class="button-box">
              {% for item in slider.buttons %}
                {% if item.link != nil and item.link != '' %}
                  <a class="button button--standard" href="{{ item.link }}">{{ item.text }}</a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      <p class="slider__notice">Drag to explore</p>
    </div>

    {% if slider.slider_items != nil and slider.slider_items.size > 0 %}
      <div class="slider__main">
        {% for item in slider.slider_items %}
          <div class="slider__slide">
            {% if item.image != nil and item.image != '' %}
              <div class="slider__slide-image">
                <img src="{{ item.image }}">
              </div>
            {% endif %}
            <div class="slider__slide-heading">
              {% if item.heading != nil and item.heading != '' %}
                <h3>{{ item.heading }}</h3>
              {% endif %}
              {% if item.link != nil and item.link != '' %}
                <a href="{{ item.link }}">
                  {% include icons/right-arrow.svg %}
                </a>
              {% endif %}
            </div>
            {% if item.content != nil and item.content != '' %}
              <div class="slider__slide-content">
                {{ item.content | markdownify }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>