---
layout: default
title: 'People'
permalink: /people/
description: 'ai@cam''s mission is to drive a new wave of AI innovation that serves science, citizens, and society.'
image: '/assets/images/social.jpeg'
---

{% assign hero = site.data.team.hero %}
{% include hero/main.html 
  heading=hero.heading
  content=hero.content
  buttons=hero.buttons
  image=hero.image
  bg_image="team-bg.svg"
%}

<section class="block block__team">
  <div class="container">
    <div class="team__selector">
      <button class="active" data-id="people">People</button>
    </div>

    {% assign team_entries = site.people %}
    {% assign filtered_team_entries = team_entries  %}
    
    <div class="team__grid team__grid--leadership active">
      {% for post in filtered_team_entries %}
      <a href="{{ post.url }}" class="team__member">
        <div class="team__member-image">
            {% if post.image != nil %}
              <img src="{{ post.image }}">
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
          <div class="team__member-content">
            <h3>{{ post.name }}</h3>
            <p>{{ post.position }}</p>
          </div>
        </a>
      {% endfor %}
    </div>

  </div>
</section>
