---
layout: default
title: 'Team'
permalink: /team/
description: 'ai@cam''s mission is to drive a new wave of AI innovation that serves science, citizens, and society.'
image: '/assets/images/social.jpeg'
---

{% assign hero = site.data.team.hero %}
{% include hero/main.html 
  style="standard"
  bg_image="team-bg.svg"
  heading=hero.heading
  content=hero.content
  buttons=hero.buttons
  image=hero.image %}

<section class="block block__team">
  <div class="container">
    <div class="team__selector">
      <button data-id="steering-group" class="active">Steering Group</button>
      <button data-id="professional-services">Professional Services</button>
      <button data-id="leadership">Leadership</button>
    </div>

    {% assign team_entries = site.people %}

    {% assign filtered_steering_entries = team_entries | filter_by_category: 'steering-group' %}
    <div class="team__grid team__grid--steering-group active">
      {% for post in filtered_steering_entries %}
        <a href="{{ post.url }}" class="team__member">
          <div class="team__member-image">
            {% if post.image != nil %}
              <img src="{{ post.image }}">
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
          <div class="team__member-content">
            <h3>{{ post.name }}</h3>
            <p>{{ post.job_title }}</p>
          </div>
        </a>
      {% endfor %}
    </div>

    {% assign filtered_professional_entries = team_entries | filter_by_category: 'professional-services' %}

    <div class="team__grid team__grid--professional-services">
      {% for post in filtered_professional_entries %}
        <a href="{{ post.url }}" class="team__member">
          <div class="team__member-image">
            {% if post.image != nil %}
              <img src="{{ post.image }}">
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
          <div class="team__member-content">
            <h3>{{ post.name }}</h3>
            <p>{{ post.job_title }}</p>
          </div>
        </a>
      {% endfor %}
    </div>

    {% assign filtered_team_entries = team_entries | filter_by_category: 'leadership' %}

    <div class="team__grid team__grid--leadership">
      {% for post in filtered_team_entries %}
        <a href="{{ post.url }}" class="team__member">
          <div class="team__member-image">
            {% if post.image != nil %}
              <img src="{{ post.image }}">
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
          <div class="team__member-content">
            <h3>{{ post.name }}</h3>
            <p>{{ post.job_title }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
    
  </div>
</section>
