<section class="block block__hero block__hero--archive" id="hero">
  {% if include.hero_image %}
  <div class="hero__shape">
    <img alt="" src="{{ include.hero_image | relative_url }}"/>
  </div>
  {% endif %}
  
  <div class="container">
    <div class="hero__content">
      <h1>{{ include.title }}</h1>

      {% if include.hero_meta %}
      {{ include.hero_meta }}
      {% endif %}

      <a href="{{ include.collection_url | default: '/' }}" class="button button--standard">
        {{ include.back_text | default: 'Back' }}
      </a>
    </div>
  </div>
  <!-- Set hero_included to true -->
</section> 
