<a class="posts__item" href="{{ include.post.url }}" data-categories="{{ include.post.categories | join: ',' | downcase }}">
  <div class="posts__item-thumbnail">
    {% if include.post.image %}
      <img src="{{ include.post.image | relative_url }}">
    {% else %}
      <img alt="" src="{{ '/assets/images/placeholder-1.jpg' | relative_url }}" />
    {% endif %}
  </div>
  <div class="posts__item-content">
    <span class="category">{{ include.post.categories | join: ', ' }}</span>
    <h3>{{ include.post.title }}</h3>
    <span class="button button--simple">Read more</span>
  </div>
</a> 