{% if page.related != nil and page.related != "none" %}
  {% assign combined_entries = '' | split: '' %}
  
  {% for post in site.posts %}
    {% if post.categories contains page.related %}
      {% assign combined_entries = combined_entries | push: post %}
    {% endif %}
  {% endfor %}
  
  {% for news in site.news %}
    {% if news.categories contains page.related %}
      {% assign combined_entries = combined_entries | push: news %}
    {% endif %}
  {% endfor %}
  
  {% assign sorted_entries = combined_entries | sort: 'date' | reverse %}
  
  {% include related-grid.html 
    entries=sorted_entries
    heading="Related Content"
    pink=true
    check_current=true %}
{% endif %}
