<div class="post-single__body-socials column-m-12-nest column-t-2-nest">
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}" target="_blank" class="social-icon">
    {% include icons/twitter.svg %}
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}&quote={{ page.title | url_encode }}" target="_blank" class="social-icon">
    {% include icons/facebook.svg %}
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}" target="_blank" class="social-icon">
    {% include icons/linkedin.svg %}
  </a>
  <a href="https://bsky.app/intent/compose?text={{ page.title | url_encode }}%20{{ site.url }}{{ page.url | url_encode }}" target="_blank" class="social-icon">
    {% include icons/bluesky.svg %}
  </a>
  {% include edit-link.html %}
</div>
