---
layout: default
pagination: 
  enabled: true
  collection: projects
---
{% include hero/archive.html 
  title="Projects"
  collection=site.projects %}

      <section class="block block--no-padding-top block__posts">
        <div class="container">
            <div class="posts__grid">
              {% for post in site.projects %}
              {% include post-item.html post=post %}
              {% endfor %}
            </div>
          
            {% include pagination.html paginator=paginator %}
          </div>
        </div>
      </section>

      <script src="{{ '/assets/js/filter-posts.js' | relative_url }}"></script>