---
layout: default
pagination: 
  enabled: true
  collection: news
---
{% include hero/archive.html 
  title="News"
  collection=site.news %}

      <section class="block block--no-padding-top block__posts">
        <div class="container">
          {% if site.news.size > 0 %}
          <div class="posts__grid">
            {% for post in paginator.posts %}
            {% include post-item.html post=post %}
            {% endfor %}
          </div>
          
          {% include pagination.html paginator=paginator %}
        {% else %}
          {% include no-posts.html %}
        {% endif %}
        </div>
      </section>

      <!-- Research Section -->
      <section class="block block--no-padding-top block__posts">
        <div class="container">
          <h2>Research updates</h2>
          {% assign research_entries = site.research %}
          {% if research_entries %}
            <div class="posts__grid no-filter">
              {% for post in research_entries %}
              {% include post-item.html post=post %}
              {% endfor %}
            </div>
          {% else %}
            {% include no-posts.html %}
          {% endif %}
        </div>
      </section>

      <script src="{{ '/assets/js/filter-posts.js' | relative_url }}"></script>