---
layout: default
pagination: 
  enabled: true
  collection: posts
---
{% include hero/archive.html 
  title="Blog"
  collection=site.posts %}

<section class="block block--no-padding-top block__posts">
  <div class="container">
    <div class="posts__grid posts__grid--with-events">
      <!-- Left Column: Blog Posts -->
      <div class="posts__grid--posts">
        <h2>Latest</h2>
        {% if site.posts.size > 0 %}
          <div class="posts__grid">
            {% for post in paginator.posts %}
              {% include post-item.html post=post %}
            {% endfor %}
          </div>
          
          {% include pagination.html paginator=paginator %}
        {% else %}
          {% include no-posts.html %}
        {% endif %}
      </div>

      <!-- Right Column: Events Sidebar -->
      <div class="posts__grid--events">
        <h2>Events</h2>
        {% assign currentDate = 'now' | date: '%Y-%m-%d' %}
        {% assign upcomingEvents = site.events %}
        {% assign displayedEvents = 0 %}
        
        <div class="posts__sticky">
          {% for event in upcomingEvents %}
            {% assign eventEndDate = event.end | date: '%Y-%m-%d' %}
            {% if eventEndDate >= currentDate and displayedEvents < 3 %}
              {% include post-item.html post=event %}
              {% assign displayedEvents = displayedEvents | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

    <script src="{{ '/assets/js/filter-posts.js' | relative_url }}"></script>