---
layout: default
---
<section class="block block__hero block__hero--archive" id="hero">
  <div class="hero__shape">
    <img alt="" src="../assets/images/news-bg.svg"/>
  </div>
  
  <div class="container">
    <div class="hero__content">
      <h1>{{page.title}}</h1>

      {% if page.author != nil %}
      <p>{{ page.author }}</p>
      {% endif %}
      {% if page.date != nil %}
      <p>{{ page.date | date: '%d %B %Y' }}</p>
      {% endif %}
      <a href="{{site.url}}/blog/" class="button button--standard">Back to blog</a>
    </div>
  </div>
</section>

<section class="block block__post-single">
  <div class="container">
    <article>
      <div class="post-single__body">
        <div class="row row--justified">
          <div class="post-single__body-content column-m-12-nest column-t-10 column-d-8">
            {{ content }}
          </div>
          {% include social-share.html %}
          <div class="column-m-12-nest column-d-1"></div>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="block block--bg-pink block__posts">
  <div class="container">
    <div class="posts__intro">
      <h2 class="section-heading section-heading--left">Related posts</h2>
    </div>

    <div class="posts__grid">
      {% assign blog_entries = site.posts %}

      {% assign count_check = false %}
      {% for item in site.posts limit:4 %}
      {% if item.url == page.url %}
      {% assign count_check = true %}
      {% endif %}
      {% endfor %}

      {% if count_check == false %}
      {% for post in blog_entries limit:4 %}
      <a class="posts__item" href="{{ post.url }}">
        <div class="posts__item-thumbnail">
          {% if post.image != nil %}
          <img src="{{ post.image }}">
          {% else %}
          <img alt="" src="../assets/images/placeholder-1.jpg" />
          {% endif %}
        </div>
        <div class="posts__item-content">
          <span class="category">{{ post.categories | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</span>
          <h3>{{ post.title }}</h3>
          <span class="button button--simple">Read more</span>
        </div>
      </a>
      {% endfor %}
      {% else %}
      {% for post in blog_entries limit:4 %}
      {% if post.url != page.url %}
      <a class="posts__item" href="{{ post.url }}">
        <div class="posts__item-thumbnail">
          {% if post.image != nil %}
          <img src="{{ post.image }}">
          {% else %}
          <img alt="" src="../assets/images/placeholder-1.jpg" />
          {% endif %}
        </div>
        <div class="posts__item-content">
          <span class="category">{{ post.categories | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</span>
          <h3>{{ post.title }}</h3>
          <span class="button button--simple">Read more</span>
        </div>
      </a>
      {% endif%}
      {% endfor %}
      {% endif %}

    </div>
  </div>
</section>
