---
layout: single
collection_url: "/events/"
back_text: "Back to events"
hero_image: "/assets/images/news-bg.svg"
---

{% capture hero_meta %}
{% if page.start %}
<p class="inline-icon">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
  </svg>
  <!-- check if start day is the same as end day -->
  {% if page.start | date: '%d %B %Y' == page.end | date: '%d %B %Y' or page.end == nil %}
    {{ page.start | date: '%d %B %Y' }}
  {% else %}
    {{ page.start | date: '%d %B %Y' }} - {{ page.end | date: '%d %B %Y' }}
  {% endif %}
</p>
<p class="inline-icon">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
  </svg>
  {{ page.start | date: '%H:%M' }} - {{ page.end | date: '%H:%M' }}
</p>
{% endif %}

{% endcapture %}

{% include hero.html hero_image=layout.hero_image hero_meta=hero_meta title=page.title collection_url=layout.collection_url back_text=layout.back_text %}

{% include single.html %}

{% include related-events.html %}