---
layout: default
---

{% assign hero = page.hero %}
{% include hero/main.html 
  style="standard"
  bg_image="about-us-bg.svg"
  heading=hero.heading
  content=hero.content
  buttons=hero.buttons
  image=hero.image %}


{% assign text_split = page.text_split %}
<section class="block block__text block__text--split">
  <div class="container">
    {% if text_split.heading != nil and text_split.heading != '' %}
      <div class="text__heading">
        <h2>{{ text_split.heading }}</h2>
      </div>
    {% endif %}

    {% if text_split.content != nil and text_split.content != '' %}
      <div class="text__content">
        {{ text_split.content | markdownify }}
      </div>
    {% endif %}
  </div>
</section>

{% assign project_entries = site.projects | where: "category", page.filter | sort: 'date' | reverse %}
{% if project_entries.size > 0 %}
<section class="block block--bg-pink block__slider">
  <div class="container">
    <div class="slider__top">
      <div class="slider__intro intro">
        <h2>{{page.title}} Projects</h2>
      </div>
      <p class="slider__notice">Drag to explore</p>
    </div>
    <div class="slider__main">
      {% for post in project_entries %}
        <a href="{{ post.url }}" class="slider__slide">
          <div class="slider__slide-image">
            {% if post.image != nil %}
              <img src="{{ post.image }}"/>
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
          <div class="slider__slide-heading">
            <h3>{{ post.title }}</h3>

            {% include icons/right-arrow.svg %}
          </div>
          <div class="slider__slide-content">
            <p>{{ post.excerpt }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% assign latest_overview = page.latest_overview %}
<section class="block block__latest-overview">
  <div class="container">
    {% if latest_overview.heading or latest_overview.content  or latest_overview.buttons  %}
      <div class="latest-overview__intro intro">
        {% if latest_overview.heading  %}
          <h2>{{ latest_overview.heading }}</h2>
        {% endif %}

        {% if latest_overview.content %}
          {{ latest_overview.content | markdownify }}
        {% endif %}

        {% if latest_overview.buttons and latest_overview.buttons.size > 0 %}
          <div class="button-box">
            {% for item in latest_overview.buttons %}
              {% if item.link %}
                <a class="button button--standard" href="{{ item.link }}">{{ item.text }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="latest-overview__column latest-overview__column--reseach">
      <h3>{{page.title}} Blogs</h3>
      {% assign blog_entries = site.posts | filter_by_category: page.filter | sort: 'date' | reverse %}
      {% for post in blog_entries limit:3 %}
        <a href="{{ post.url }}" class="post post--small">
          <div class="post__thumbnail">
            {% if post.image != nil %}
              <img src="{{ post.image }}">
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
  
          <div class="post__content">
            {% if post.category != nil and post.category != '' %}
              <span class="category">{{ post.category | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</span>
            {% endif %}
            <h4>{{ post.title }}</h4>
            <span class="button button--simple">Read more</span>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="latest-overview__column latest-overview__column--news">
      <h3>{{ page.title }} News</h3>
      {% assign news_entries = site.news | filter_by_category: page.filter | sort: 'date' | reverse %}
      {% for post in news_entries limit:3 %}
        <a href="{{ post.url }}" class="post post--small">
          <div class="post__thumbnail">
            {% if post.image != nil %}
              <img src="{{ post.image }}">
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
  
          <div class="post__content">
            {% if post.category != nil and post.category != '' %}
              <span class="category">{{ post.category | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</span>
            {% endif %}
            <h4>{{ post.title }}</h4>
            <span class="button button--simple">Read more</span>
          </div>
        </a>
      {% endfor %}
    </div>
    
    
    <div class="latest-overview__column latest-overview__column--events">
      <h3>{{page.title}} Upcoming Events</h3>
      {% assign upcomingEvents = site.events | upcoming_events | filter_by_category: page.filter  %} <!--| sort: "start" %}-->
      
      {% if upcomingEvents.size > 0 %}
        {% for post in upcomingEvents limit: 3 %}
          <a href="{{ post.url }}" class="post post--small">
            <div class="post__thumbnail">
              {% if post.image != nil %}
                <img src="{{ post.image }}">
              {% else %}
                <img alt="" src="../assets/images/placeholder-1.jpg"/>
              {% endif %}
            </div>
            <div class="post__content">
              <span class="category">{{ post.start | date: "%b %-d, %Y" }}</span>
              <h4>{{ post.title }}</h4>
              <span class="button button--simple">Read more</span>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <p>No upcoming events</p>
      {% endif %}
    </div>
  </div>
</section>