---
layout: default
title: 'AI Sciencepreneurship'
---

{% assign hero = page.hero %}
{% include hero/main.html 
  style="standard"
  bg_image="about-us-bg.svg"
  heading=hero.heading
  content=hero.content
  buttons=hero.buttons
  image=hero.image %}

{% assign text_split = page.text_split %}
<section class="block block__text block__text--split">
  <div class="container">
    {% if text_split.heading != nil and text_split.heading != '' %}
      <div class="text__heading">
        <h2>{{ text_split.heading }}</h2>
      </div>
    {% endif %}

    {% if text_split.content != nil and text_split.content != '' %}
      <div class="text__content">
        {{ text_split.content | markdownify }}
      </div>
    {% endif %}
  </div>
</section>

{% assign project_entries = site.projects | where: "category", page.filter %}
{% include related-grid.html 
  entries=project_entries
  heading=page.title | append: " Projects"
  type="slider"
  pink=true %}

{% assign latest_overview = page.latest_overview %}
<section class="block block__latest-overview">
  <div class="container">
    {% if (latest_overview.heading != nil and latest_overview.heading != '') or (latest_overview.content != nil and latest_overview.content != '') or (latest_overview.buttons != nil and latest_overview.buttons.size > 0) %}
      <div class="latest-overview__intro intro">
        {% if latest_overview.heading != nil and latest_overview.heading != '' %}
          <h2>{{ latest_overview.heading }}</h2>
        {% endif %}

        {% if latest_overview.content != nil and latest_overview.content != '' %}
          {{ latest_overview.content | markdownify }}
        {% endif %}

        {% if latest_overview.buttons != nil and latest_overview.buttons.size > 0 %}
          <div class="button-box">
            {% for item in latest_overview.buttons %}
              {% if item.link != nil and item.link != '' %}
                <a class="button button--standard" href="{{ item.link }}">{{ item.text }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="latest-overview__columns">
      {% assign blog_entries = site.posts | where: "category", page.filter | sort: "date" | reverse %}
      {% include related-grid.html 
        entries=blog_entries
        heading=page.title | append: " Blogs"
        type="posts"
        limit=3 %}

      {% assign news_entries = site.news | where: "category", page.filter | sort: "date" | reverse %}
      {% include related-grid.html 
        entries=news_entries
        heading=page.title | append: " News"
        type="posts"
        limit=3 %}

      {% assign upcoming_events = site.events | upcoming_events | where: "category", page.filter %}
      {% include related-grid.html 
        entries=upcoming_events
        heading=page.title | append: " Upcoming Events"
        type="posts"
        limit=3 %}
    </div>
  </div>
</section>
