---
layout: single
collection_url: "/news/"
back_text: "Back to news"
hero_image: "/assets/images/news-bg.svg"
---

{% capture hero_meta %}
{% if page.author %}
<p>{{ page.author }}</p>
{% endif %}
{% if page.date %}
<p>{{ page.date | date: '%d %B %Y' }}</p>
{% endif %}
{% endcapture %}

{% include hero/single.html hero_image=layout.hero_image hero_meta=hero_meta title=page.title collection_url=layout.collection_url back_text=layout.back_text %}

{% include single.html %}

{% include related-news.html %}
