---
layout: default
---
<section class="block block__hero block__hero--archive" id="hero">
  <div class="container">
    <div class="hero__content">
      <h1>{{ page.name }}</h1>
      <a href="{{site.url}}/research#researchers" class="button button--standard">Back to team</a>
    </div>
  </div>
</section>

<section class="block block__team-profile">
  <div class="container">
    <div class="row row--justified">
      <div class="column-m-12 column-t-7 column-d-7">
        <div class="team-profile__biography">
          <h2 class="section-heading section-heading--left">Biography</h2>
          {{ page.biography | markdownify }}	  
          {{ page.content | markdownify }}
        </div>
      </div>

      <div class="column-m-12 column-t-5 column-d-3">
        <div class="team-profile__image">
          {% if page.image %}
            <img src="{{ page.image }}" alt="Image of {{ page.prefix }} {{ page.name }} {{ page.suffix }}">
          {% else %}
            <img class="placeholder-image" src="{{site.baseurl}}/assets/images/placeholder.png">
          {% endif %}
        </div>

        <div class="team-profile__profile">
          {% if page.institution %}
            <p><strong>Institution:</strong> {{ page.institution }}</p>
          {% endif %}
          {% if page.department %}
            <p><strong>Department:</strong> {{ page.department }}</p>
          {% endif %}
          {% if page.job_title %}
            <p><strong>Job Title:</strong> {{ page.job_title }}</p>
          {% endif %}
          {% if page.team %}
            <p><strong>Team:</strong> {{ page.team }}</p>
          {% endif %}
          {% if page.supervisor %}
            <p><strong>Supervisor:</strong> {{ page.supervisor }}</p>
          {% endif %}
          {% if page.start %}
            <p><strong>Start Date:</strong> {{ page.start }}</p>
          {% endif %}
          {% if page.end %}
            <p><strong>End Date:</strong> {{ page.end }}</p>
          {% endif %}
          {% if page.scholar %}
            <p><strong>Scholar:</strong> {{ page.scholar }}</p>
          {% endif %}
          {% if page.crsid %}
            <p><strong>CRSID:</strong> {{ page.crsid }}</p>
          {% endif %}
          {% if page.orcid %}
            <p><strong>ORCID:</strong> {{ page.orcid }}</p>
          {% endif %}
        </div>

        {% if page.webpage or page.twitter or page.github or page.linkedin or site.ghub.edit %}
          <div class="team-profile__contact">
            <h3>Contact</h3>
            {% if page.webpage %}
              <a href="{{ page.webpage }}" target="_blank" rel="noreferrer">{{ page.webpage }}</a>
            {% endif %}

            <div class="team-profile__contact-socials">
              {% if page.github %}
                <a href="https://github.com/{{ page.github }}" target="_blank" rel="noreferrer" class="social-icon">
                  {% include icons/github.svg %}
                </a>
              {% endif %}
              {% if page.linkedin %}
                <a href="https://linkedin.com/in/{{ page.linkedin }}" target="_blank" rel="noreferrer" class="social-icon">
                  {% include icons/linkedin.svg %}
                </a>
              {% endif %}
              {% if page.twitter %}
                <a href="https://twitter.com/{{ page.twitter }}" target="_blank" rel="noreferrer" class="social-icon">
                  {% include icons/twitter.svg %}
                </a>
              {% endif %}
              {% if page.bluesky %}
                <a href="https://bsky.app/profile/{{ page.bluesky }}" target="_blank" rel="noreferrer" class="social-icon">
                  {% include icons/bluesky.svg %}
                </a>
              {% endif %}
              {% if page.orcid %}
                <a href="https://orcid.org/{{ page.orcid }}" target="_blank" rel="noreferrer" class="social-icon">
                  {% include icons/orcid.svg %}
                </a>
	      {% endif %}
	      {% include edit-link.html %}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="column-m-12-nest column-d-1"></div>
    </div>
  </div>
</section>

<section class="block block__related-content">
  <div class="container">
    {% if page.preferred %}
      {% assign person_name = page.preferred %}
    {% else %}
      {% assign person_name = page.given %}
    {% endif %}
    

    {% assign combined_entries = '' | split: '' %}
    
    {% for initiative in site.initiatives %}
      {% if initiative.people contains page.name %}
        {% assign combined_entries = combined_entries | push: initiative %}
      {% endif %}
    {% endfor %}

    {% for project in site.projects %}
      {% if project.people contains page.name %}
        {% assign combined_entries = combined_entries | push: project %}
      {% endif %}
    {% endfor %}

    {% for post in site.posts %}
      {% if post.people contains page.name %}
        {% assign combined_entries = combined_entries | push: post %}
      {% endif %}
    {% endfor %}

    {% for event in site.events %}
      {% if event.people contains page.name %}
        {% assign combined_entries = combined_entries | push: event %}
      {% endif %}
    {% endfor %}

    {% for news in site.news %}
      {% if news.people contains page.name %}
        {% assign combined_entries = combined_entries | push: news %}
      {% endif %}
    {% endfor %}

    {% for report in site.reports %}
    {% if report.people contains page.name %}
      {% assign combined_entries = combined_entries | push: report %}
    {% endif %}
    {% endfor %}

    {% assign sorted_entries = combined_entries | sort: 'date' | reverse %}

    {% if sorted_entries.size > 0 %}
      {% assign heading_text = "ai@cam contributions from " | append: person_name%}
      {% include related-grid.html 
        entries=sorted_entries
        heading=heading_text
        pink=true
        check_current=true 
        limit=9%}
    {% endif %}
  </div>
</section>
