---
layout: default
---
<section class="block block__hero block__hero--archive" id="hero">
  <div class="hero__shape">
    <img alt="" src="../assets/images/research-bg.svg"/>
  </div>
  
  <div class="container">
    <div class="hero__content">
      <h1>{{page.title}}</h1>
      <a href="{{site.url}}/research/" class="button button--standard">Back to research</a>
    </div>
  </div>
</section>

<section class="block block__post-single">
  <div class="container">
    <article>
      <div class="post-single__body">
        <div class="row row--justified">
          <div class="post-single__body-content column-m-12-nest column-t-10 column-d-8">
            {{ content }}

            {% if page.apply_link != nil %}
              <div class="button-box">
                <a href="{{ page.apply_link }}" rel="noreferrer" target="_blank" class="button button--standard">Apply here</a>
              </div>
            {% endif %}
          </div>
          {% include social-share.html %}
          <div class="column-m-12-nest column-d-1"></div>
        </div>
      </div>
    </article>
  </div>
</section>